<main>
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <%= render "form", scrape_rule: @scrape_rule %>
    <br>
    <div>
      <%= link_to "Back to scrape rules", scrape_rules_path, class: "rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
    </div>
  </div>
</main>
