<main data-controller="scrape_result" class="px-4 py-16 sm:px-6 lg:flex-auto lg:px-0 lg:py-20 rounded-lg bg-gray-50 shadow-sm ring-1 ring-gray-900/5">
  <div class="mx-auto max-w-2xl space-y-16 sm:space-y-20 lg:mx-0 lg:max-w-none p-4">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900">Scrape Result</h2>

      <dl class="mt-6 space-y-6 divide-y divide-gray-100 border-t border-gray-200 text-sm leading-6">
        <div class="pt-6 sm:flex">
          <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">Scrape Name</dt>
          <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
            <div class="text-gray-900"><%= scrape_result.scrape.name %></div>
          </dd>
        </div>
        <div class="pt-6 sm:flex">
          <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">Scraped</dt>
          <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
            <div class="text-gray-900"><%= custom_time_format(scrape_result.created_at) %></div>
          </dd>
        </div>
        <div class="pt-6 sm:flex">
          <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">Scrape Data</dt>
          <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
            <div class="bg-gray-800 p-2 rounded" >
   <pre class="font-mono text-white whitespace-pre-wrap overflow-x-auto">
   <code class="json scrapeResult">
   <%= scrape_result.result %>
   </code>
   </pre>
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</main>
